body{
    background-color: #272B30;
    /*background-image:url('../images/decal_leaking.png');
	background-repeat: repeat-x;*/
}

a{
	color: #dd2222;
}

.container{
	
}

.row{
	
}

#nav-button{
	border-color: #454A51;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar-default{
	background-color: #454A51;
	border-color: #272B30;
}

#navbar-collapse{
	border-style:none;
}

.navbar-default .navbar-nav li a{
	color: #C8C8C8;
}

.panel-default .panel-heading{
	background-color: #454A51;
	border-style: none;
        border-bottom-style: none;
        border-color: #272B30;
	color: #C8C8C8;
}

.no-wrap{
    overflow:hidden;
    white-space:nowrap;
}

.panel-heading a{
    color: #C8C8C8;
}

.panel{
	border-style: none;
	border-radius: 3px;
	background-color: #454A51;
	color: #C8C8C8;
}

.panel-body{
	padding: 13px;
}

.music-iframe{
    height: 250px;
    width: 100%;
}

.music-iframe-single{
    height: 450px;
    width: 100%;
}

.music-iframe-home{
    height: 220px;
    width: 100%;
}

.video-iframe{
    height: 315px;
    width: 100%;
}

.video-iframe-single{
    height: 450px;
    width: 100%;
}

.video-iframe-home{
    height: 220px;
    width: 100%;
}

.right-align{
    text-align: right;
}

.news-panel{
    height: 240px;
}

.meta-info{
    color: #a6a6a6;
}

.panel-footer{
	text-align: right;
	border-style: none;
	background-color: #454A51;
	margin-top: 0px;
	padding-top: 0px;
}

#panel-body-banner{
	padding: 8px;
}

#panel-featured{
    font-size:16px;
}

h3, h4, h5{
	margin-top: 0px;
}

.remove-padding-left-right{
	padding-left: 5px;
	padding-right: 5px;
}

.thumbnail{
	background-color: #454A51;
	border-color: #C8C8C8;
}

#dates-panel{
    background-image: url('../images/monster_bottom_right.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 35%;
    min-height: 200px;
}

.mythumb{
    max-height: 40px;
    min-height: 40px;
}

#md-fb-button{
    margin-top: 0px;
}

.fb-like{
    margin-top: 15px;
}

.twitter-share-button{
     margin-top: 15px;
}

.panel-body-fb{
    text-align: center;
}

@media(max-width: 767px){
    body{
        
    }
    
    .right-align{
        text-align: left;
    }
    
    .container-fluid{

    }
    
    .navbar-default{
        margin-bottom: 15px;
    }
    
    #panel-body-banner{
        padding: 5px;
    }
 
    .panel-body{
       
    }
   
    .fb-like{
        margin-left: 10px;
        max-width: 50px;
    }
        
    no-padding{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .news-panel{
        height: auto;
    }
    
    .music-iframe-single{
        height: 300px;
        width: 100%;
    }
    
    .video-iframe-single{
        height: 300px;
        width: 100%;
    }
}